@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 16px;
}

::-webkit-scrollbar {
	@apply w-2;
}
::-webkit-scrollbar-track {
	@apply bg-gray-200 transition-all w-2;
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	border: 1px solid #0000020;

	@apply bg-gray-300 shadow transition-all w-2;
}

::-webkit-scrollbar-thumb:hover {
	filter: brightness(0.6);
}
